<h1>Articles</h1>

<div class="articles-list">
  <% @articles.each do |article| %>
    <%= link_to article_path(article.id) do %>
      <%= article.title %>
    <% end %>
  <% end %>
</div>

<%= form_with(model: Article.new) do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Create Article" %>
  </div>
<% end %>
